overload:
  enabled: true
  package: yandextank.plugins.DataUploader
  token_file: "token.txt"
phantom:
  address: {{ hostvars['dbproxy'].ansible_host }}
  header_http: "1.1"
  uris:
    - /api/author
    - /api/book
    - /api/book?size=10&page=3
    - /api/book?size=10&page=99
  load_profile:
    load_type: rps
    schedule: line(5, 30, 1m) step(30,90,5,5s)
  instances: 10
  phantom_http_entity: 30M
  ssl: true
autostop:
  autostop:
    - http(5xx,10%,5s)
console:
  enabled: true
telegraf:
  enabled: false