listen-peer-urls: "http://0.0.0.0:2380"
listen-client-urls: "http://0.0.0.0:2379"
name: "{{ inventory_hostname }}"
data-dir: "/var/lib/etcd/default.etcd"
heartbeat-interval: 1000
election-timeout: 5000
initial-advertise-peer-urls: "http://{{ ip }}:2380"
advertise-client-urls: "http://{{ ip }}:2379"
initial-cluster: "{{ etcd_cluster }}"
initial-cluster-token: "etcd-cluster"
initial-cluster-state: {{ initial_cluster_state }}
