"postgres" "SCRAM-SHA-256$4096:GcAt8ktaCy4KSRR7HVKXIg==$icVKHOsX03kCHKszmQX/3Ip48f7sRtooYKKL2wXEjkU=:ZXuQ7L454cf8s1dU9MI5W3r7II4pwfokxuVLdkmEh50="
"pgadmin" "SCRAM-SHA-256$4096:GcAt8ktaCy4KSRR7HVKXIg==$icVKHOsX03kCHKszmQX/3Ip48f7sRtooYKKL2wXEjkU=:ZXuQ7L454cf8s1dU9MI5W3r7II4pwfokxuVLdkmEh50="